<h1>Edit this recipe!</h1>
<form method="PATCH" action="/recipes/:id">
  <label for="name">Recipe name: </label>
  <input type="text" id="name" name="name">
  <label for="ingredients">Ingredients: </label>
  <input type="text" id="ingredients" name="ingredients">
  <label for="cooktime">Cooktime: </label>
  <input type="text" id="cooktime" name="cooktime">
  <input type="submit" value="submit">
</form>
